@model weather.Models.weather_forecast

@{ Layout = null; }
<div class="weather container">
    <h4>Five-Day Weather Forecast for @Html.Raw(Model.location.name) @Html.ActionLink("See More Here", "fiveday", new { controller = "weather", id = Model.location.id }) </h4>
    <hr />
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>
                    Date/Time
                </th>
                <th>
                    Short Description
                </th>
                <th>
                    Min Temp (F)
                </th>
                <th>
                    Max Temp (F)
                </th>
                <th>
                    Humidity
                </th>
            </tr>
            @{ bool is_rainy = false; }
            @foreach (var weather in Model.days_of_weather)
            {
                bool is_today = (weather.date.Date == DateTime.Today.Date);
                if (!(is_rainy) && is_today)
                {
                    is_rainy = weather.description.ToLower().Contains("rain");
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => weather.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => weather.description, new { @class = "short_desc" }) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => weather.temp_min)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => weather.temp_max)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => weather.humidity)
                    </td>
                </tr>
                 
            }
            @{
                string type = (is_rainy) ? "bad" : "good";
                string path = HttpContext.Current.Request.Url.AbsolutePath;
                string from = (path.Length == 0) ? "home" : "more";
            }
            @Html.ActionLink("Send Notification", "Notification", new { controller = "notification", id = Model.location.id, type = type, from = from })
            @{  
                if (is_rainy)
                {
                    <div class="rain"></div>
                }
            }
            @{ is_rainy = false; }
        </table>
    </dl>
</div>
